.ninja {
  position:         relative;
  display:          block;
  width:            252px;
  height:           360px;
  background-color: black;
  box-shadow:       inset 0 0 30px #272727;
  border-radius:    60% 60% 60% 60%/30% 30% 70% 70%;

  &:before, &:after {
    content:  '';
    position: absolute;
  }

  &:before {
    top:               35%;
    left:              10%;
    right:             10%;
    height:            12%;
    border-radius:     20%;
    background:        radial-gradient(circle at 23%, black, #080808 3%, black 4%, transparent 80%),
                       radial-gradient(circle at 77%, black, #080808 3%, black 4%, transparent 80%),
                       linear-gradient(135deg, #353535 45%, transparent 50%),
                       linear-gradient(225deg, #353535 45%, transparent 50%);
    background-repeat: no-repeat;
  }

  &:after {
    top:           23%;
    height:        10%;
    left:          -2px;
    right:         -2px;
    background:    radial-gradient(ellipse at 23% 0, black, transparent 30%),
                   radial-gradient(ellipse at 50% 100%, black, transparent 23%),
                   radial-gradient(ellipse at 77% 0, black, transparent 30%),
                   linear-gradient(1.2deg, #6E101C 15%, #7B121F 30%, #6E101C 50%, #7B121F 70%, #6E101C 85%);

    border-radius: 20%;
  }
}


.header-section {
  position: relative;

  &:before, &:after {
    z-index:  -2;
    content:  '';
    position: absolute;
    left:     0;
    right:    0;
    top:      0;
    bottom:   0;
  }

  &:before {
    background: radial-gradient(farthest-corner at bottom, #CFCFCF 0%, #DC143C 8%, #8E1228 24.5%, #5B0913 62.5%, #29040B 100%);
    transition: all var(--nui-transition);
    transition-property: background-position, background-size;
  }

  &:after {
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 1px, rgba(255, 255, 255, 0) 16px),
                repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.2) 1px, rgba(255, 255, 255, 0) 16px);
  }
}

@keyframes bg {
  from {
    background-position: right bottom;
    background-size:     250% 200%;

  }
  49.9% {
    background-position: right bottom;
  }
  50% {
    background-size: 100% 100%;
  }
  50.1% {
    background-position: left bottom;
  }
  to {
    background-position: -50% bottom;
    background-size:     200% 100%;
  }
}
