@import '../../../demo.scss';

.controls {
  position: sticky;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 9;
  background: #112239;
  padding: var(--nui-space-2x);
}

.nui-sidebar, .nui-sidebar-slide, .nui-sidebar-expand,
.nui-sidebar-right, .nui-sidebar-right-slide, .nui-sidebar-right-expand {
  box-shadow: 0 0 5px #FFFAE1;
  background: #3A5199;
  min-height: 300px;
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;

  > aside {
    background: #ACBEBE;
    position: absolute;
    z-index: 8;
  }
}

.examples {
  .nui-ctrl {
    display: inline-block;
    height: 16px;
    width: 16px;
  }
}

.example-containers {
  .nui-container, .nui-container-fluid, .nui-container-smooth {
    text-align: center;
    padding: 8px;
    background: #7BA4A8;
    border-radius: 4px;
    margin-top: 8px;
  }
}
