<div class="nui-section">
  <div class="nui-container-fluid">
    <p>
      Sidebar examples below have been modified with <code>position: <i class="nui-text-strike">fixed</i> absolute;</code> to demonstrate multiple on one page.
      By default, sidebar will be fixed position <code>left: 0;</code>, unless using <code>.nui-sidebar-right</code> which will be <code>right: 0;</code>
    </p>
    <p>Also note that <code>.nui-ctrl</code> is normally hidden - they have been displayed for example purposes.</p>
  </div>
</div>

<div>
  <div class="controls">
    <span>Sidebar Controls: </span>
    <label><input type="checkbox" [(ngModel)]="right">Right</label>
    <label><input type="checkbox" [(ngModel)]="push">Push</label>
    <label><input type="checkbox" [(ngModel)]="open">Open</label>
  </div>

  <div class="nui-section-alt">
    <div class="nui-container-fluid">
      <h3>Basic Sidebar</h3>
      <div class="nui-sidebar{{right ? '-right' : ''}}" [class.nui-push]="push" [class.nui-open]="open">
        <aside>
          Test sidebar
        </aside>
        Test Content
      </div>

      <pre><code>{{getExample()}}</code></pre>
    </div>
  </div>

  <div class="nui-section">
    <div class="nui-container-fluid sidebar-example">
      <h3>Sliding Sidebar</h3>
      <div class="nui-sidebar{{right ? '-right' : ''}}-slide" [class.nui-push]="push" [class.nui-open]="open">
        <aside>
          Test sidebar
        </aside>
        Test Content
      </div>

      <pre><code>{{getExample('slide')}}</code></pre>
    </div>
  </div>

  <div class="nui-section-alt">
    <div class="nui-container-fluid sidebar-example">
      <h3>Expanding Sidebar</h3>
      <div class="nui-sidebar{{right ? '-right' : ''}}-expand" [class.nui-push]="push" [class.nui-open]="open">
        <aside>
          Test sidebar
        </aside>
        Test Content
      </div>

      <pre><code>{{getExample('expand')}}</code></pre>
    </div>
  </div>

  <div class="nui-section">
    <div class="nui-container-fluid sidebar-example">
      <h3>Two Sidebars</h3>
      <div class="nui-sidebar-expand" [class.nui-push]="push" [class.nui-open]="open">
        <aside>
          Test sidebar
        </aside>
        <div class="nui-sidebar-right-slide" [class.nui-push]="push" [class.nui-open]="open">
          <aside>
            Test sidebar
          </aside>
          Test Content
        </div>
      </div>

      <pre><code>{{getExample('expand', getExample('slide', undefined, '  '))}}</code></pre>
    </div>
  </div>

  <div class="nui-section-alt">
    <div class="nui-container-fluid example-containers" style="--nui-container-margin-offset-3: calc(var(--nui-sidebar-closed) + var(--nui-container-margin))">
      <h2>Common Combos</h2>
      <h3>List Items</h3>
      <p><code>.nui-list-collapsible</code> and <code>.nui-list-item</code></p>
      <div class="nui-sidebar{{right ? '-right' : ''}}-expand" [class.nui-push]="push" [class.nui-open]="open">
        <aside>
          <div *ngFor="let idx of [1,2,3]">
            <input id="eItem_{{idx}}" type="checkbox" class="nui-ctrl">
            <div class="nui-list-item">
              <div>
                <span class="nui-list-item-icon"><span>🔨</span></span>
                <span>Item {{idx}}</span>
              </div>
              <label class="nui-list-item-toggle" for="eItem_{{idx}}"><span>▶</span></label>
            </div>

            <div class="nui-list-children" style="--nui-list-item-child-height: calc(var(--nui-list-item-height) * 3)">
              <a class="nui-list-item" *ngFor="let cidx of [1,2,3]">
                <div>
                  <span class="nui-list-item-icon"><span>🚇</span></span>
                  <span>Item {{idx}} - Child {{cidx}}</span>
                </div>
              </a>
            </div>
          </div>
        </aside>
        Test Content
      </div>

      <pre><code>{{listExample}}</code></pre>
    </div>
  </div>

  <div class="nui-section">
    <div class="nui-container-fluid example-containers" style="--nui-container-margin-offset-3: calc(var(--nui-sidebar-closed) + var(--nui-container-margin))">
      <h2>Integrations</h2>
      <h3 id="containers">Container</h3>
      <p>Normally when using containers, they respond to breakpoints which are now disrupted when using a sidebar or sidebar-collapse.</p>
      <div class="nui-sidebar{{right ? '-right' : ''}}" [class.nui-push]="push" [class.nui-open]="open" style="min-height: 140px; max-width: unset;">
        <aside>
          Test sidebar
        </aside>
        <div class="nui-container">Container</div>
        <div class="nui-container-fluid">Fluid</div>
        <div class="nui-container-smooth">Smooth</div>
      </div>
      <br>
      <div class="nui-sidebar{{right ? '-right' : ''}}-slide" [class.nui-push]="push" [class.nui-open]="open" style="min-height: 140px; max-width: unset;">
        <aside>
          Test sidebar
        </aside>
        <div class="nui-container">Container</div>
        <div class="nui-container-fluid">Fluid</div>
        <div class="nui-container-smooth">Smooth</div>
      </div>
      <br>
      <div class="nui-sidebar{{right ? '-right' : ''}}-expand" [class.nui-push]="push" [class.nui-open]="open" style="min-height: 140px; max-width: unset;">
        <aside>
          Test sidebar
        </aside>
        <div class="nui-container">Container</div>
        <div class="nui-container-fluid">Fluid</div>
        <div class="nui-container-smooth">Smooth</div>
      </div>
    </div>
  </div>
</div>

<div class="nui-section-alt">
  <div class="nui-container-fluid">
    <h3>Off the Script</h3>
    <input id="native" class="nui-ctrl" type="checkbox">
    <div class="nui-sidebar-expand">
      <aside>
        <label for="native" style="padding:16px">🍔</label>
      </aside>
      <div>Example Content</div>
    </div>

    <pre><code>{{nativeExample}}</code></pre>


    <p>Having an <code>&lt;input class="nui-ctrl" type="checkbox"></code> directly before the sidebar allows it to control it's state with the <code>:checked</code> selector.</p>
    <p>By providing an <code>id</code> to the <code>&lt;input type="checkbox"></code> you can use <code>&lt;label for="&#123;ID}"></code> to toggle it's state.</p>
  </div>
</div>
