:host {
  display: block;
  position: relative;
  height: 124px;

  transition: height var(--nui-transition);

  &.full {
    height: 480px;

    .header-area {
      min-width: 320px;
      flex: 60%;
    }
    .pusher {
      flex: 1;
    }
    .desc {
      display: block;
    }
    .example {
      opacity: 1;
    }
  }

  .header-area {
    flex: 100%;
    transition: flex var(--nui-transition);
  }

  .desc {
    display: none;
  }

  .example {
    opacity: 0;
    transition: opacity var(--nui-transition);
  }

  &.right {
    .nui-section {
      flex-direction: row-reverse;
    }
    .example {
      right: 0;
      left: unset;
      transform: rotateX(-8deg) rotateY(-35deg) rotateZ(0deg) translateY(98px) translateX(16px);
    }
  }
}

.nui-section {
  display: flex;
  height: 100%;
  background: var(--nui-darken);
  padding-left: var(--nui-space-2x);
  padding-right: var(--nui-space-2x);
}


h1 {
  text-align: center;
}

.example {
  position: absolute;
  left: 0;
  top: 0;
  height: 65%;
  width: 100%;
  min-width: 320px;
  max-width: 680px;
  z-index: -1;
  transform-style: preserve-3d;
  transform: rotateX(8deg) rotateY(35deg) rotateZ(0deg) translateY(98px) translateX(-16px);
}
