<div class="nui-section">
  <div class="example">
    <ng-content></ng-content>
  </div>
  <div class="pusher"></div>
  <div class="header-area nui-flex-center nui-flex-column">
    <h1>{{name | titlecase}}</h1>
    <div class="desc">
      <ng-content select="[desc]"></ng-content>
    </div>
  </div>
</div>
