
@mixin nuiFormControlWrapperVars() {
  :root {

  }
}

// IntelliSense autocomplete
.nui-control-wrapper {}

@mixin nuiFormControlWrapper() {
  .nui-control-wrapper {
    display: block;
  }
}

@if (not variable_exists(nui-render)) {
  @include nuiFormControlWrapperVars;
  @include nuiFormControlWrapper;
}
