<div class="nui-section">
  <div class="nui-container-fluid">
    <h1>Tabs</h1>
    <p></p>
  </div>
</div>

<div class="nui-tabs">
  <div class="nui-tab" *ngFor="let i of [1,2,3,4]" [class.nui-active]="tabIdx === i" (click)="tabIdx = i">
    <div class="nui-tab-label">
      <span>Tab {{i}}</span>
    </div>

    <div class="nui-tab-content" *ngIf="tabIdx === i">
      Content area {{i}}
    </div>
  </div>
</div>

<div class="nui-tabs">
  <div class="nui-tab" *ngFor="let i of [1,2,3,4]">
    <input type="radio" name="ex" id="ex_{{i}}" [checked]="i === 1" class="nui-ctrl">
    <label class="nui-tab-label" for="ex_{{i}}">
      <span>Tab {{i}}</span>
    </label>

    <div class="nui-tab-content">
      Content area {{i}}
    </div>
  </div>
</div>
