@import "func/breakpoints_mixin";


// Colors
$nui-site-bg:         #2F2E33 !default;
$nui-content-bg:      #FFFAE1 !default;
$nui-content-text:    #FFFAE1 !default;

$nui-primary:         #3A5199 !default;
$nui-accent:          #ACBEBE !default;
$nui-filler:          #112239 !default;
$nui-cta:             #FF9500 !default;

$nui-success:         #A0B084 !default;
$nui-info:            #7BA4A8 !default;
$nui-warn:            #E1B16A !default;
$nui-danger:          #A01D26 !default;

// Timing
$nui-transition:      250ms !default;
$nui-transition-fast: $nui-transition * 1.5 !default;
$nui-transition-slow: $nui-transition * .75 !default;

// Spacing
$nui-space: 8px !default;

// Borders
$nui-border-radius: 8px !default;
$nui-shadow: 0 0 5px black !default;

// See https://ricostacruz.com/til/css-media-query-breakpoints
$nui-breakpoints: (
  xs: 0px,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1679px,
) !default;
