$nui-button-bg:                      XXX !default;
$nui-button-color:                   XXX !default;
$nui-button-border-width:            XXX !default;
$nui-button-border-color:            XXX !default;
$nui-button-border-radius:           XXX !default;
$nui-button-box-shadow:              XXX !default;
$nui-button-line-height:             XXX !default;
$nui-button-white-space:             XXX !default;

$nui-button-font:                    XXX !default;
$nui-button-font-size:               XXX !default;
$nui-button-font-weight:             XXX !default;

$nui-button-transition:              XXX !default;
$nui-button-transition-properties:   background, color, border-color, box-shadow, height, width !default;

$nui-button-hover-bg:                XXX !default;
$nui-button-hover-color:             XXX !default;
$nui-button-hover-border:            XXX !default;
$nui-button-hover-box-shadow:        XXX !default;

$nui-button-focus-bg:                XXX !default;
$nui-button-focus-color:             XXX !default;
$nui-button-focus-border:            XXX !default;
$nui-button-focus-box-shadow:        XXX !default;

$nui-button-active-bg:               XXX !default;
$nui-button-active-color:            XXX !default;
$nui-button-active-border:           XXX !default;
$nui-button-active-box-shadow:       XXX !default;

$nui-button-active-focus-bg:         XXX !default;
$nui-button-active-focus-color:      XXX !default;
$nui-button-active-focus-border:     XXX !default;
$nui-button-active-focus-box-shadow: XXX !default;

$nui-button-disabled-opacity:        XXX !default;
$nui-button-disabled-bg:             XXX !default;
$nui-button-disabled-color:          XXX !default;
$nui-button-disabled-border:         XXX !default;
$nui-button-disabled-box-shadow:     XXX !default;

@mixin nuiButtonVars() {
  :root {
    --nui-button-bg:                      #{$nui-button-bg};
    --nui-button-color:                   #{$nui-button-color};
    --nui-button-border-width:            #{$nui-button-border-width};
    --nui-button-border-color:            #{$nui-button-border-color};
    --nui-button-border-radius:           #{$nui-button-border-radius};
    --nui-button-box-shadow:              #{$nui-button-box-shadow};
    --nui-button-line-height:             #{$nui-button-line-height};
    --nui-button-white-space:             #{$nui-button-white-space};

    --nui-button-font:                    #{$nui-button-font};
    --nui-button-font-size:               #{$nui-button-font-size};
    --nui-button-font-weight:             #{$nui-button-font-weight};

    --nui-button-transition:              #{$nui-button-transition};
    --nui-button-transition-properties:   #{$nui-button-transition-properties};

    --nui-button-hover-bg:                #{$nui-button-hover-bg};
    --nui-button-hover-color:             #{$nui-button-hover-color};
    --nui-button-hover-border:            #{$nui-button-hover-border};
    --nui-button-hover-box-shadow:        #{$nui-button-hover-box-shadow};

    --nui-button-focus-bg:                #{$nui-button-focus-bg};
    --nui-button-focus-color:             #{$nui-button-focus-color};
    --nui-button-focus-border:            #{$nui-button-focus-border};
    --nui-button-focus-box-shadow:        #{$nui-button-focus-box-shadow};

    --nui-button-active-bg:               #{$nui-button-active-bg};
    --nui-button-active-color:            #{$nui-button-active-color};
    --nui-button-active-border:           #{$nui-button-active-border};
    --nui-button-active-box-shadow:       #{$nui-button-active-box-shadow};

    --nui-button-active-focus-bg:         #{$nui-button-active-focus-bg};
    --nui-button-active-focus-color:      #{$nui-button-active-focus-color};
    --nui-button-active-focus-border:     #{$nui-button-active-focus-border};
    --nui-button-active-focus-box-shadow: #{$nui-button-active-focus-box-shadow};

    --nui-button-disabled-opacity:        #{$nui-button-disabled-opacity};
    --nui-button-disabled-bg:             #{$nui-button-disabled-bg};
    --nui-button-disabled-color:          #{$nui-button-disabled-color};
    --nui-button-disabled-border:         #{$nui-button-disabled-border};
    --nui-button-disabled-box-shadow:     #{$nui-button-disabled-box-shadow};
  }
}

// IntelliSense autocomplete
.nui-button {}

@mixin nuiButton() {
  .nui-button {
    display:             inline-block;
    background:          var(--nui-button-bg);
    color:               var(--nui-button-color);
    border:              var(--nui-button-border-width) solid var(--nui-button-border-color);
    border-radius:       var(--nui-button-border-radius);
    box-shadow:          var(--nui-button-box-shadow);
    line-height:         var(--nui-button-line-height);
    white-space:         var(--nui-button-white-space);
    text-align:          center;
    vertical-align:      middle;
    font: {
      family: var(--nui-button-font);
      size:   var(--nui-button-font-size);
      weight: var(--nui-button-font-weight);
    }
    cursor:              pointer; // Force pointer
    user-select:         none; // Disable text highlighting

    transition:          all var(--nui-button-transition);
    transition-property: var(--nui-button-transition-properties);

    &:hover {
      background:      var(--nui-button-hover-bg);
      color:           var(--nui-button-hover-color);
      border-color:    var(--nui-button-hover-border);
      box-shadow:      var(--nui-button-hover-box-shadow);
      text-decoration: none; // Reset on <a> tags
    }

    &:focus, &.focus {
      outline:      0; // Browser reset
      background:   var(--nui-button-focus-bg);
      color:        var(--nui-button-focus-color);
      border-color: var(--nui-button-focus-border);
      box-shadow:   var(--nui-button-focus-box-shadow);
    }

    &:active, &.active {
      background:   var(--nui-button-active-bg);
      color:        var(--nui-button-active-color);
      border-color: var(--nui-button-active-border);
      box-shadow:   var(--nui-button-active-box-shadow);

      &:focus, &.focus {
        background:   var(--nui-button-active-focus-bg);
        color:        var(--nui-button-active-focus-color);
        border-color: var(--nui-button-active-focus-border);
        box-shadow:   var(--nui-button-active-focus-box-shadow);
      }
    }

    &:disabled, &.disabled,
    *:disabled &, *.disabled & { // Disable when inside something disabled
      pointer-events: none;
      opacity:        var(--nui-button-disabled-opacity);
      background:     var(--nui-button-disabled-bg);
      color:          var(--nui-button-disabled-color);
      border-color:   var(--nui-button-disabled-border);
      box-shadow:     var(--nui-button-disabled-box-shadow);
    }
  }
}

@if (not variable_exists(nui-render)) {
  @include nuiButtonVars;
  @include nuiButton;
}
