@import 'component/sidebar';
@import 'component/lists';
@import 'component/tabs';

$nui-components-sidebar-enabled: true !default;
$nui-components-list-item-enabled: true !default;
$nui-components-tabs-enabled: true !default;

@mixin nuiComponentsVars() {
  @if ($nui-components-sidebar-enabled) { @include nuiComponentsSidebarVars }
  @if ($nui-components-list-item-enabled) { @include nuiComponentsListsVars }
  @if ($nui-components-tabs-enabled) { @include nuiComponentsTabsVars }
}

@mixin nuiComponents() {
  @if ($nui-components-sidebar-enabled) { @include nuiComponentsSidebar }
  @if ($nui-components-list-item-enabled) { @include nuiComponentsLists }
  @if ($nui-components-tabs-enabled) { @include nuiComponentsTabs }
}

@if (not variable_exists(nui-render)) {
  @include nuiComponentsVars;
  @include nuiComponents;
}
