*, *:before, *:after {
  box-sizing:             border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing:         antialiased
}

html, body {
  display:   block;
  min-height: 100vh;
}

html {
  background: var(--nui-site-bg);
}

body {
  margin: 0;
}

.ninjui body, .nui-body {
  padding-top: 48px;
}

.ninjui header, .nui-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 48px;
  width: 100%;
}

iframe {
  display: block;
  width:  100%;
  border: unset;
  margin: unset;
}
