// CSS Variable Setup - all core variables are specified here
@import 'vars';

:root {
  --nui-site-bg:         #{$nui-site-bg};
  --nui-content-bg:      #{$nui-content-bg};
  --nui-content-text:    #{$nui-content-text};

  --nui-primary:         #{$nui-primary};
  --nui-accent:          #{$nui-accent};
  --nui-filler:          #{$nui-filler};
  --nui-filler-text:     white;
  --nui-cta:             #{$nui-cta};

  --nui-success:         #{$nui-success};
  --nui-info:            #{$nui-info};
  --nui-warn:            #{$nui-warn};
  --nui-danger:          #{$nui-danger};

  --nui-darken:          #{rgba(#000, .4)};
  --nui-darken-less:     #{rgba(#000, .3)};
  --nui-darken-more:     #{rgba(#000, .5)};
  --nui-lighten:          #{rgba(#FFF, .4)};
  --nui-lighten-less:     #{rgba(#FFF, .3)};
  --nui-lighten-more:     #{rgba(#FFF, .5)};

  // Spacing
  --nui-space:           #{$nui-space};
  --nui-space-2x:        calc(var(--nui-space) * 2);
  --nui-space-3x:        calc(var(--nui-space) * 3);
  --nui-space-4x:        calc(var(--nui-space) * 4);
  --nui-space-5x:        calc(var(--nui-space) * 5);
  --nui-space-6x:        calc(var(--nui-space) * 6);

  // Borders
  --nui-border-radius:   #{$nui-border-radius};
  --nui-shadow:          #{$nui-shadow};

  --nui-transition:      #{$nui-transition};
  --nui-transition-fast: #{$nui-transition-fast};
  --nui-transition-slow: #{$nui-transition-slow};
}

// _vars defaults to true to bypass rendering while loading variables
// style.scss will override to 'root', which still bypasses rendering but allows this to render css variables (Builder functionality)
//   Note element files only check existence and '-enabled' variables are created in style.scss
@if (variable_exists(nui-render)) {
  @if ($nui-typography-enabled) { @include nuiTypographyVars }
  @if ($nui-layout-enabled) { @include nuiLayoutVars }
  @if ($nui-button-enabled) { @include nuiButtonVars }
  @if ($nui-form-enabled) { @include nuiFormVars }
  @if ($nui-utilities-enabled) { @include nuiUtilityVars }
  @if ($nui-components-enabled) { @include nuiComponentsVars }
}
