@import 'form/control-wrapper';

$nui-form-control-wrapper-enabled: true !default;

@mixin nuiFormVars() {
  @if ($nui-form-control-wrapper-enabled) { @include nuiFormControlWrapperVars }
}

@mixin nuiForm() {
  @if ($nui-form-control-wrapper-enabled) { @include nuiFormControlWrapper }
}

@if (not variable_exists(nui-render)) {
  @include nuiFormVars;
  @include nuiForm;
}
