@import 'layout/container';
@import 'layout/cosmetics';
@import 'layout/flex';

$nui-layout-container-enabled: true !default;
$nui-layout-cosmetics-enabled: true !default;
$nui-layout-flex-enabled: true !default;

@mixin nuiLayoutVars() {
  @if ($nui-layout-container-enabled) { @include nuiLayoutContainerVars }
  @if ($nui-layout-cosmetics-enabled) { @include nuiLayoutCosmeticsVars }
  @if ($nui-layout-flex-enabled) { @include nuiLayoutFlexVars }
}

@mixin nuiLayout() {
  @if ($nui-layout-container-enabled) { @include nuiLayoutContainer }
  @if ($nui-layout-cosmetics-enabled) { @include nuiLayoutCosmetics }
  @if ($nui-layout-flex-enabled) { @include nuiLayoutFlex }
}

@if (not variable_exists(nui-render)) {
  @include nuiLayoutVars;
  @include nuiLayout;
}
