$nui-render: true; // Let css_vars perform builder functionality
@import "typography";
@import "layouts";
@import "buttons";
@import "forms";
@import "components";
@import "utilities";

// Control Variables \\
$nui-typography-enabled: true !default;
$nui-layout-enabled: true !default;
$nui-button-enabled: true !default;
$nui-form-enabled: true !default;
$nui-components-enabled: true !default;
$nui-utilities-enabled: true !default;

// Begin Rendering \\
@import 'css_vars';
@import 'core'; // Always enabled
@if ($nui-typography-enabled) { @include nuiTypography }
@if ($nui-layout-enabled) { @include nuiLayout }
@if ($nui-button-enabled) { @include nuiButton }
@if ($nui-form-enabled) { @include nuiForm }
@if ($nui-utilities-enabled) { @include nuiUtility }
@if ($nui-components-enabled) { @include nuiComponents }
//@import 'utility';
