$nui-font-body: 'Baskerville W01 Regular 705699', Verdana, Geneva, sans-serif !default;
$nui-font-domo: Monaco, "Lucida Console", monospace !default;

$nui-heading-margin-bottom: xxx !default;
$nui-heading-color:         xxx !default;
$nui-heading-line-height:   xxx !default;
$nui-heading-font-family:   'Frutiger LT W01 65 Bold', "Trebuchet MS", Helvetica, sans-serif !default;
$nui-heading-font-style:    xxx !default;
$nui-heading-font-weight:   xxx !default;

$nui-link-color: var(--nui-text);
$nui-link-visited-color: inherit;

@mixin nuiTypographyVars() {
  :root {
    --nui-font-body: #{$nui-font-body};
    --nui-font-domo: #{$nui-font-domo};

    --nui-heading-margin-bottom: #{$nui-heading-margin-bottom};
    --nui-heading-color:         #{$nui-heading-color};
    --nui-heading-line-height:   #{$nui-heading-line-height};
    --nui-heading-font-family:   #{$nui-heading-font-family};
    --nui-heading-font-style:    #{$nui-heading-font-style};
    --nui-heading-font-weight:   #{$nui-heading-font-weight};

    --nui-link-color:            #{$nui-link-color};
    --nui-link-visited-color:    #{$nui-link-visited-color};
  }
}

@mixin nuiTypography() {
  html {
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
    color: var(--nui-content-text);
  }

  %nui-heading {
    margin-top:    0;
    margin-bottom: var(--nui-heading-margin-bottom);
    color:         var(--nui-heading-color);
    line-height:   var(--nui-heading-line-height);
    font: {
      family: var(--nui-heading-font-family);
      style:  var(--nui-heading-font-style);
      weight: var(--nui-heading-font-weight);
    }
  }

  h1, .h1 {
    @extend %nui-heading;
    font-size: 2.25rem;
  }

  h2, .h2 {
    @extend %nui-heading;
    font-size: 1.97rem;
  }

  h3, .h3 {
    @extend %nui-heading;
    font-size: 1.72rem;
  }

  h4, .h4 {
    @extend %nui-heading;
    font-size: 1.50rem;
  }

  h5, .h5 {
    @extend %nui-heading;
    font-size: 1.31rem;
  }

  h6, .h6 {
    @extend %nui-heading;
    font-weight: normal;
    font-size:   1.15rem;
  }

  legend {
    font-size: 1.275rem;
  }

  a {
    text-decoration: none;
    color: var(--nui-link-color);

    &:visited {
      color: var(--nui-link-visited-color);
    }

  }

  pre {
    max-width: 100%;
  }
  code {
    font-family: var(--nui-font-domo);
    background: rgba(240, 128, 128, .6);
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }
  pre > code {
    display: block;
    background: darkslategrey;
    overflow-x: auto;
  }

  .nui-text-center {
    text-align: center;
  }
  .nui-text-strike {
    text-decoration: line-through;
  }
  .nui-text-underline {
    text-decoration: underline;
  }
  .nui-text-overline {
    text-decoration: overline;
  }
}

@if (not variable_exists(nui-render)) {
  @include nuiTypographyVars;
  @include nuiTypography;
}
