@import 'utility/breakpoints';
@import 'utility/display';

$nui-utility-breakpoints-enabled: true !default;
$nui-utility-display-enabled:     true !default;

@mixin nuiUtilityVars() {
  @if ($nui-utility-breakpoints-enabled) { @include nuiUtilityBreakpointsVars }
  @if ($nui-utility-display-enabled) { @include nuiUtilityDisplayVars }
}

@mixin nuiUtility() {
  @if ($nui-utility-breakpoints-enabled) { @include nuiUtilityBreakpoints }
  @if ($nui-utility-display-enabled) { @include nuiUtilityDisplay }
}

@if (not variable_exists(nui-render)) {
  @include nuiUtilityVars;
  @include nuiUtility;
}
