<div class="nui-section nui-flex-center">
      <pre><code>&lt;!-- Component (wrapper) providing the ability for .nui-push -->
&lt;div class="nui-sidebar">

  &lt;!-- Expected tag 'aside', which is position: fixed as the sidebar -->
  &lt;aside>Sidebar Content&lt;/aside>

  &lt;h1>Screen Content&lt;/h1>
  &lt;div>Your dream content&lt;/div>
&lt;/div></code></pre>
</div>

<div class="nui-section-alt">
  <div class="nui-container-fluid">
    <h2 id="design">Design Notes</h2>
    <ul>
      <li>
        <b>"Mobile First"</b>
        <ul>
          <li>Slide and Expand default to closed and no-pushing. (Scrunches and forces need for 'responsive design')</li>
          <li>Mobile breakpoint forces into sliding mode. (Here for the content, not the nav)</li>
          <li>Content container does not handle scrolling, allowing browser UI to 'collapse', such as iPhone's address and bookmarks bars.</li>
        </ul>
      </li>
      <li>
        <b>Un-opinionated</b>
        <ul>
          <li>Sidebar and content area have no padding or default styling. A blank canvas as you will.</li>
          <li><b>Container Integration</b>, offsetting the margins - See <a routerLink="." fragment="containers">containers</a> section</li>
        </ul>
    </ul>
  </div>
</div>
