@import '../vars';

$nui-container-margin: var(--nui-space-2x) !default;
$nui-container-fluid-max: xxl !default;

@mixin nuiLayoutContainerVars() {
  :root {
    --nui-container-margin:          #{$nui-container-margin};

    /**
    Offset system is used when your site adds something to the sides, such as a sidebar,
      that would throw off the 'max-width' calculations of a container.
      These 3 are added together as `--nui-container-margin-offset` then subtracted from
      the normal breakpoint value.
     */
    --nui-container-margin-offset-1: 0px;
    --nui-container-margin-offset-2: 0px;
    --nui-container-margin-offset-3: 0px;
  }
}

// IntelliSense autocomplete
.nui-container, .nui-container-fluid, .nui-container-smooth {}

@mixin nuiLayoutContainer() {
  .nui-container, .nui-container-smooth, .nui-container-fluid {
    width:        100%;
    margin-left:  auto;
    margin-right: auto;
    transition:   max-width var(--nui-transition);
    --nui-container-margin-offset: calc(var(--nui-container-margin-offset-1) + var(--nui-container-margin-offset-2) + var(--nui-container-margin-offset-3));
  }

  @include nui-breakpoint(sm) {
    $sm-bp: nuiGetBreakpoint(sm);

    .nui-container {
      // Repeated to prevent repeated media query
      max-width: calc(#{$sm-bp} - var(--nui-container-margin) - var(--nui-container-margin-offset));
    }

    .nui-container-smooth {
      max-width: calc((100% - (100% - (#{$sm-bp} - var(--nui-container-margin-offset))) * 0.41537) - var(--nui-container-margin));
    }

    .nui-container-fluid {
      max-width: calc(100% - var(--nui-container-margin));
    }
  }

  .nui-container {
    @each $bp in (md, lg, xxl) {
      @include nui-breakpoint($bp) {
        max-width: calc(#{nuiGetBreakpoint($bp)} - var(--nui-container-margin) - var(--nui-container-margin-offset));
      }
    }
  }

  .nui-container-fluid {
    @include nui-breakpoint($nui-container-fluid-max) {
      max-width: calc(#{nuiGetBreakpoint($nui-container-fluid-max)} - var(--nui-container-margin));
    }
  }
}

@if (not variable_exists(nui-render)) {
  @include nuiLayoutContainerVars;
  @include nuiLayoutContainer;
}
