$nui-section-padding: var(--nui-space-4x) !default;
$nui-section-alt-bg:  var(--nui-filler) !default;

@mixin nuiLayoutCosmeticsVars() {
  :root {
    --nui-section-padding: #{$nui-section-padding};
    --nui-section-alt-bg:  #{$nui-section-alt-bg};
  }
}

// IntelliSense autocomplete
.nui-section {}

@mixin nuiLayoutCosmetics() {
  .nui-section, .nui-section-alt {
    padding-top:    var(--nui-section-padding);
    padding-bottom: var(--nui-section-padding);
  }

  .nui-section-alt {
    background: var(--nui-section-alt-bg);
  }
}

@if (not variable_exists(nui-render)) {
  @include nuiLayoutCosmeticsVars;
  @include nuiLayoutCosmetics;
}
