$nui-section-padding: var(--nui-space-4x) !default;

@mixin nuiLayoutFlexVars() {
  :root {
    --nui-section-padding: #{$nui-section-padding};
  }
}

// IntelliSense autocomplete

@mixin nuiLayoutFlex() {
  .nui-flex-row-wrap,
  .nui-flex-row {
    display: flex;

    &.nui-flex-gutters {
      margin-left:  calc(-1 * var(--nui-space));
      margin-right: calc(-1 * var(--nui-space));

      > * {
        margin-left:  var(--nui-space);
        margin-right: var(--nui-space);
      }
    }
  }
  .nui-flex-row-wrap {
    flex-wrap: wrap;
  }

  .nui-flex-column {
    display:        flex;
    flex-direction: column;

    &.nui-flex-gutters {
      margin-top:    var(--nui-space);
      margin-bottom: var(--nui-space);

      > * {

      }
    }
  }

  .nui-flex-children > *,
  .nui-flex-1 {
    flex: 1;
  }

  .nui-justify-start { justify-content: flex-start; }
  .nui-justify-center { justify-content: center; }
  .nui-justify-end { justify-content: flex-end; }

  .nui-space-between { justify-content: space-between; }
  .nui-space-evenly { justify-content: space-evenly; }
  .nui-space-around { justify-content: space-around; }

  .nui-align-start { align-items: start; }
  .nui-align-center { align-items: center; }
  .nui-align-end { align-items: end; }

  .nui-flex-center {
    @extend .nui-flex-row, .nui-justify-center, .nui-align-center;
  }
}

@if (not variable_exists(nui-render)) {
  @include nuiLayoutFlexVars;
  @include nuiLayoutFlex;
}
