@import '../../demo';

nui-style-demo-intro-header.header-section:before {
  background-size:     200% 150%;
  background-position: 90% bottom;
}

.header-section {
  &.variables:before {
    background-size:     150% 125%;
    background-position: 90% bottom;

  }

  &.dojo:before {
    background-size:     100% 100%;
    background-position: 60% bottom;
  }

  &.examples:before {
    background-size:     150% 125%;
    background-position: 10% bottom;
  }

  &.breakdown:before {
    background-size:     200% 150%;
    background-position: 10% bottom;
  }
}

.intro {
  transform-style: inherit;
  overflow:        visible !important;
  height:          100%;
  max-width:       100% !important;
  background:      #1D4C4C !important;

  > * {
    transform-origin: 0% 0%;
    transform: translateZ(30px);
    background: #3A5199;
  }

  aside {
    background: #ACBEBE;
    overflow-x: hidden;
    transform: translateZ(60px);
  }
}
