<nui-style-demo-intro-header class="header-section" [name]="header" [class.full]="subheader === 'overview'">
  <p desc class="nui-text-center">
    Side-Nav, table of contents, ads, or shuriken belt.
    <br>
    Built for whatever you want to pack along your scroll.
  </p>
  <ng-container>
    <div class="nui-sidebar-expand nui-push intro" [class.nui-open]="openClose">
      <aside>
        <div *ngFor="let idx of [1,2,3]">
          <div class="nui-list-item" [class.nui-open]="headerMenuIdx === idx">
            <div>
              <span class="nui-list-item-icon"><span>🔨</span></span>
              <span>Item {{idx}}</span>
            </div>
            <div class="nui-list-item-toggle"><span>▶</span></div>
          </div>

          <div class="nui-list-children" style="--nui-list-item-child-height: calc(var(--nui-list-item-height) * 3)">
            <a class="nui-list-item" *ngFor="let cidx of [1,2,3]">
              <div>
                <span class="nui-list-item-icon"><span>🚇</span></span>
                <span>Item {{idx}} - Child {{cidx}}</span>
              </div>
            </a>
          </div>
        </div>
      </aside>
      <div style="overflow: scroll; height: 100%;">
        <div class="nui-section">
          <div class="h1">Header</div>
        </div>
        <div class="nui-section-alt">
          <p>Content</p>
        </div>
        <div class="nui-section">
          <p>Cool details</p>
        </div>
      </div>
    </div>
  </ng-container>
</nui-style-demo-intro-header>
<div nui-style-demo-subnav></div>
<router-outlet></router-outlet>
