@import '../vars';

@mixin nuiUtilityBreakpointsVars() {
  :root {
    @each $size, $px in $nui-breakpoints {
      --nui-breakpoint-#{$size}: #{$px};
    }
  }
}

// IntelliSense autocomplete - defaults as example
.nui-hide-xs, .nui-hide-sm, .nui-hide-md, .nui-hide-lg, .nui-hide-xl, .nui-hide-xxl {}

@mixin nuiUtilityBreakpoints() {
  @each $size, $px in $nui-breakpoints {
    @include nui-breakpoint($size) {
      .nui-hide-#{$size} {
        display: none !important;
      }
    }
  }
}

@if (not variable_exists(nui-render)) {
  @include nuiUtilityBreakpointsVars;
  @include nuiUtilityBreakpoints;
}
