@mixin nuiUtilityDisplayVars() {
  :root {

  }
}

@mixin nuiUtilityDisplay() {
  .nui-hide {
    display: none !important;
  }

  .nui-invisible {
    visibility: hidden;
  }

  .nui-transparent {
    opacity: 0;
  }
  .nui-opaque {
    opacity: 1;
  }

  .nui-disabled,
  .nui-disable:disabled {
    opacity: .7;
    user-select: none;
    pointer-events: none;
  }

  .nui-svg {
    transform: translate(0,0); // Fix blurry SVGs on firefox https://bugzilla.mozilla.org/show_bug.cgi?id=1046835

    & [fill*='#'] {
      fill: currentcolor;
    }

    & [stroke*='#'] {
      stroke: currentcolor;
    }
  }

  .nui-ctrl {
    display: none;
    height:  0;
    width:   0;
  }

  .nui-hover-float-in {
    position: absolute;
    opacity: 0;
    user-select: none;
    pointer-events: none;

    transition: all var(--nui-transition);
    transition-property: transform, opacity;
    z-index: 1;
  }

  %nui-reset-in {
    transform: translate(0);
    opacity: 1;
    user-select: auto;
    pointer-events: auto;
  }

  .nui-hover:hover .nui-hover-float-in {
    @extend %nui-reset-in;
  }

  .nui-active .nui-active-in {
    @extend %nui-reset-in;
  }

  .nui-from-below {
    top: 100%;
    transform: translateY(32px);
  }

  .nui-from-above {
    bottom: 100%;
    transform: translateY(-32px);
  }

  .nui-from-left {
    right: 100%;
    transform: translateX(-32px);
  }

  .nui-from-right {
    left: 100%;
    transform: translateX(32px);
  }
}

@if (not variable_exists(nui-render)) {
  @include nuiUtilityDisplayVars;
  @include nuiUtilityDisplay;
}
