<input id="sidebar-toggle-left" type="checkbox" class="nui-ctrl">
<div class="nui-sidebar-expand nui-enable-list-item">
  <aside>
    <div class="nui-list-collapsible">
      <ng-container *ngFor="let n of nav">
        <div routerLinkActive="nui-open nui-active" class="nui-list-item">
          <a [routerLink]="[n.link]">
            <span class="nui-list-item-icon"><span>🔨</span></span>
            <span>{{n.text}}</span>
          </a>
          <span *ngIf="n.children && n.children.length" class="nui-list-item-toggle"><span>▶</span></span>
        </div>

        <div class="nui-list-children" *ngIf="n.children" [style]="'--nui-list-item-child-height: ' + (48 * n.children.length) + 'px;'">
          <div *ngFor="let c of n.children" routerLinkActive="nui-active" class="nui-list-item">
            <div routerLinkActive="nui-open nui-active" class="nui-list-item">
              <a [routerLink]="[c.link]">
                <span class="nui-list-item-icon"><span>🚇</span></span>
                <span>{{c.text}}</span>
              </a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="nui-flex-1"></div>

    <label class="nui-list-item" for="sidebar-toggle-left">
      <a>
        <span class="nui-list-item-icon"><span>㆔</span></span>
        <span>Close</span>
      </a>
    </label>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
