@mixin nui-breakpoint($min, $max: null) {
  @if map-has-key($nui-breakpoints, $min) {
    $min: map-get($nui-breakpoints, $min);
  }

  @if ($max) {
    @if map-has-key($nui-breakpoints, $max) {
      $max: map-get($nui-breakpoints, $max);
    }

    @media screen and (min-width: $min) and (max-width: $max - .001) {
      @content
    }
  } @else {
    @media screen and (min-width: $min) {
      @content
    }
  }
}

@mixin nui-breakpoint-max($max) {
  @if map-has-key($nui-breakpoints, $max) {
    $max: map-get($nui-breakpoints, $max);
  }

  @media screen and (max-width: $max - .001) {
    @content
  }
}

@function nuiGetBreakpoint($bp) {
  @return map-get($nui-breakpoints, $bp);
}
