$nui-list-item-height:           48px;
$nui-list-item-icon-width:       48px;
$nui-list-item-toggle-width:     48px;
$nui-list-item-child-background: var(--nui-darken) !default;
$nui-list-item-child-height:     unset !default;

@mixin nuiComponentsListsVars() {
  :root {
    --nui-list-item-height:           #{$nui-list-item-height};
    --nui-list-item-icon-width:       #{$nui-list-item-icon-width};
    --nui-list-item-toggle-width:     #{$nui-list-item-toggle-width};
    --nui-list-item-child-background: #{$nui-list-item-child-background};
    --nui-list-item-child-height:     #{$nui-list-item-child-height};
  }
}

// IntelliSense autocomplete
.nui-list-item, .nui-list-item-icon, .nui-list-item-toggle, .nui-list-children,
.nui-open, .nui-active {}

@mixin nuiComponentsLists() {
  .nui-list-item {
    display:     flex;
    width:       100%;
    height:      var(--nui-list-item-height);
    user-select: none;
    white-space: nowrap;
    cursor:      pointer;

    > *:first-child {
      display:     flex;
      align-items: center;
      height:      100%;
      flex:        1;
    }

    .nui-list-item-icon,
    .nui-list-item-toggle {
      display:         inline-flex;
      align-items:     center;
      justify-content: center;
      height:          100%;
      flex-shrink:     0;
    }

    .nui-list-item-icon {
      width: var(--nui-list-item-icon-width);
    }

    .nui-list-item-toggle {
      cursor:     pointer;
      width:      var(--nui-list-item-toggle-width);
      transition: transform var(--nui-transition);
    }

    + .nui-list-children {
      max-height: 0;
      overflow:   hidden;
      transition: max-height var(--nui-transition);
      background: var(--nui-list-item-child-background);

      > .nui-list-item > span {
        padding-left: var(--nui-space);
      }
    }

    .nui-ctrl:checked + &,
    &:focus, &.nui-open {
      > .nui-list-item-toggle {
        transform: rotate(90deg);
      }

      & + .nui-list-children {
        max-height: var(--nui-list-item-child-height);
      }
    }

    &.nui-active {
      background: var(--nui-lighten-less);
    }
  }

  .nui-list-tabs {
    display: flex;
    overflow-x: auto;
    background: var(--nui-filler);

    > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: 48px;

      &.nui-active {
        background: var(--nui-darken);
        color: white;
      }
    }
  }
}

@if (not variable_exists(nui-render)) {
  @include nuiComponentsListsVars;
  @include nuiComponentsLists;
}
