@import "../vars";

// Offset from top - normally the same height as the site header.
$nui-sidebar-top:          0px !default;
// Offset from bottom - normally the same height as the site footer.
$nui-sidebar-bottom:       0px !default;
// Width of the sidebar when open.
$nui-sidebar-open:         200px !default;
// Width of the sidebar when closed.
$nui-sidebar-closed:       48px !default;
// Sidebar's drop-shadow.
$nui-sidebar-shadow:       var(--nui-shadow) !default;
// scroll-y setting for the aside tag.
$nui-sidebar-scroll:       auto !default;

//-- Integrations
// Change width of list's icons when open to cause a slight animation effect. Normally used with collapse.
$nui-sidebar-list-item-icon-width-open: 56px !default;

@mixin nuiComponentsSidebarVars() {
  :root {
    --nui-sidebar-top:          #{$nui-sidebar-top};
    --nui-sidebar-bottom:       #{$nui-sidebar-bottom};
    --nui-sidebar-open:         #{$nui-sidebar-open};
    --nui-sidebar-closed:       #{$nui-sidebar-closed};
    --nui-sidebar-shadow:       #{$nui-sidebar-shadow};
    --nui-sidebar-scroll:       #{$nui-sidebar-scroll};

    --nui-sidebar-list-item-icon-width-open: #{$nui-sidebar-list-item-icon-width-open};

    //-- Internal
    // translateX setting that's switched when on the right.
    --nui-sidebar-slid-off:     -100%;
    // current width, calculated with open/close variables and state (nui-open or native).
    --nui-sidebar-width:        0px;
  }
}

// IntelliSense autocomplete
.nui-sidebar, .nui-sidebar-slide, .nui-sidebar-expand,
.nui-sidebar-right, .nui-sidebar-right-slide, .nui-sidebar-right-expand,
.nui-push, .nui-open, .nui-enable-list-item {}

@mixin nuiComponentsSidebar() {
  .nui-sidebar, .nui-sidebar-slide, .nui-sidebar-expand,
  .nui-sidebar-right, .nui-sidebar-right-slide, .nui-sidebar-right-expand {
    width:                 100%;
    transition:            all var(--nui-transition);
    transition-property:   padding-left, padding-right;

    --nui-sidebar-padding: var(--nui-sidebar-width);
    --nui-sidebar-width:   var(--nui-sidebar-open); // Default open

    > aside {
      z-index:             10;
      position:            fixed;
      top:                 var(--nui-sidebar-top);
      bottom:              var(--nui-sidebar-bottom);
      width:               var(--nui-sidebar-width);
      transform:           translateX(0);
      overflow-y:          var(--nui-sidebar-scroll);
      overflow-x:          hidden;
      box-shadow:          var(--nui-sidebar-shadow);
      transition:          all var(--nui-transition);
      transition-property: width, transform;
    }
  }

  .nui-sidebar, .nui-sidebar-expand {
    @include nui-breakpoint(sm, md) {
      .nui-container {
        max-width: calc(100% - var(--nui-container-margin));
      }
    }
  }

  .nui-sidebar, .nui-sidebar-slide, .nui-sidebar-expand {
    padding-left:                    var(--nui-sidebar-padding); // Utilize local-only variable
    --nui-container-margin-offset-1: var(--nui-sidebar-padding); // Container integration
    > aside {
      left: 0;
    }
  }

  .nui-sidebar-right, .nui-sidebar-right-slide, .nui-sidebar-right-expand {
    padding-right:                   var(--nui-sidebar-padding); // Utilize local-only variable
    --nui-sidebar-slid-off:          100%;

    --nui-container-margin-offset-2: var(--nui-sidebar-padding); // Container integration

    > aside {
      right: 0;
    }
  }

  .nui-sidebar-slide, .nui-sidebar-right-slide {
    --nui-sidebar-padding: 0px;

    > aside {
      transform: translateX(var(--nui-sidebar-slid-off));
    }

    .nui-ctrl:checked + &,
    &.nui-open {
      > aside {
        transform: translateX(0);
      }

      &.nui-push {
        --nui-sidebar-padding: var(--nui-sidebar-width);
      }
    }
  }

  .nui-sidebar-expand, .nui-sidebar-right-expand {
    --nui-sidebar-padding: var(--nui-sidebar-closed);
    --nui-sidebar-width:   var(--nui-sidebar-closed);

    .nui-ctrl:checked + &,
    &.nui-open {
      --nui-sidebar-width: var(--nui-sidebar-open);

      &.nui-push {
        --nui-sidebar-padding: var(--nui-sidebar-width);
      }
    }

    &.nui-enable-list-item {
      > aside {
        .nui-list-item-icon {
          transition: width var(--nui-transition);
        }
      }

      .nui-ctrl:checked + &,
      &.nui-open {
        > aside {
          --nui-list-item-icon-width: var(--nui-sidebar-list-item-icon-width-open);
        }
      }
    }
  }
}

@if (not variable_exists(nui-render)) {
  @include nuiComponentsSidebarVars;
  @include nuiComponentsSidebar;
}
