$nui-tabs-height:    48px !default;
$nui-tabs-min-width: 64px !default;
$nui-tabs-max-width: auto !default;

@mixin nuiComponentsTabsVars() {
  :root {
    --nui-tabs-height:    #{$nui-tabs-height};
    --nui-tabs-min-width: #{$nui-tabs-min-width};
    --nui-tabs-max-width: #{$nui-tabs-max-width};
  }
}

// IntelliSense autocomplete

@mixin nuiComponentsTabs() {
  .nui-tabs {
    position: relative;
    display:  flex;

    > .nui-tab {
      flex:      1;
      height:    var(--nui-tabs-height);
      min-width: var(--nui-tabs-min-width);
      max-width: var(--nui-tabs-max-width);

      > .nui-tab-label {
        display:         flex;
        flex-direction:  column;
        justify-content: center;
        align-items:     center;
        height:          100%;
        width:           100%;
        transition:      background var(--nui-transition);

        cursor:          pointer;
      }

      > .nui-tab-content {
        display:    none;
        position:   absolute;
        top:        var(--nui-tabs-height);
        right:      0;
        bottom:     0;
        left:       0;
        overflow-y: auto;
      }

      &.nui-active > .nui-tab-label,
      > input:checked + .nui-tab-label {
        background: var(--nui-primary);

        + .nui-tab-content {
          display: block;
        }
      }
    }
  }
}

@if (not variable_exists(nui-render)) {
  @include nuiComponentsTabsVars;
  @include nuiComponentsTabs;
}
