table {
  width: 100%;
  border-collapse: collapse;

  td {
    border:  1px solid var(--nui-lighten-less);
    padding: var(--nui-space-2x) var(--nui-space);

    &:first-child {
      max-width:   320px;
      white-space: nowrap;
      overflow-x:  auto;
    }
  }
}
