<div class="nui-section">
  <div class="nui-container-fluid">
    <h2 id="variables">Variables</h2>
    <table>
      <tr><th>Variable</th><th>Description</th></tr>
      <ng-template ngFor [ngForOf]="scss.variables" [ngForTemplate]="varTr"></ng-template>
    </table>
  </div>
</div>
<div class="nui-section-alt">
  <div class="nui-container-fluid">
    <h2 id="integration">Integration Variables</h2>
    <table>
      <tr><th>Variable</th><th>Description</th></tr>
      <ng-template ngFor [ngForOf]="scss.integrations" [ngForTemplate]="varTr"></ng-template>
    </table>
  </div>
</div>
<div class="nui-section">
  <div class="nui-container-fluid">
    <h2 id="internal">Internal Variables</h2>
    <table>
      <tr><th>Variable</th><th>Description</th></tr>
      <ng-template ngFor [ngForOf]="scss.internal" [ngForTemplate]="varTr"></ng-template>
    </table>
  </div>
</div>

<ng-template #varTr let-v>
  <tr>
    <td>
      <ng-container *ngIf="v.scss">
        <div><code>$nui-{{v.name}}</code></div>
        <br>
      </ng-container>
      <div><code>var(--nui-{{v.name}})</code></div>
    </td>
    <td>
      <div>{{v.description}}</div>
      <br>
      <div>Default: <code>{{v.default}}</code></div>
    </td>
  </tr>
</ng-template>
